@media screen and (max-width: 476px) {

	.description h1:after {
		bottom:120px;
	}
	}

@media screen and (max-width: 480px) {
	/*----- layout ----*/
	.grey-bg, .white-bg {
		padding: 40px 0;
	}

	/* about */
	.wrap-about .hhh3:before {
		height: 9px;
		width: 38px;
		top: 13%;
		margin-left: 0px;
	}
	.wrap-about .hh3:before {
		height: 9px;
		width: 38px;
		top: 13%;
		margin-left: 0px;
	}
	.content-detail {
		margin-top: 30px;
	}
	.wrap-about .hhh3 {
		font-size: 47px;
	}
	.wrap-about .hh3 {
		font-size: 47px;
	}
	.owl-theme .owl-controls {
		left: 44.5%;
	}
	.wrap-about .head-about {
		font-size: 18px;
		line-height: 40px;
	}
	.wrap-about .head-about2 {
		font-size: 18px;
		line-height: 50px;
		padding-top: 22px;
	}
	.wrap-about a {
		font-size: 18px;
	}
	.wrap-about .button {
		width: 160px;
		padding: 4px;
	}
	.wrap-about h3:before {
		height: 9px;
		width: 38px;
		top: 13%;
		margin-left: 0px;
	}

	/*---- hero -----*/
	.hero-content {
		width: 280px;
		padding: 25px;
		/* 	margin-left: 3%; */
		height: 190px;
	}
	#mainban .typed {
		padding: 0 0 30px 0;
		border: 0;
	}
	.hero-content img {
		padding: 9px 25px;
	}
	/* 	.portfolio-image .igrid img {
		width: 100%;
		height: 100%;
	} */
	.portfolio-image .igrid .decription-wrap {
		width: 100%;
		height: 100%;
	}
	.portfolio-image .igrid {
		
	}
	.portfolio-image {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.menu-wrap {
		width: 220px;
	}
	.mouse-icon {
		bottom: 5px;
	}

	/*---- portfolio -----*/
	.portfolio-image .igrid {
		width: 100%;
		margin-bottom: 20px;
	}

	/*---- blog -----*/
	.grid-item {
		width: 100% !important;
		padding: 0;
	}

	/* .portfolio-image .igrid img {
		width:96%;
		
	} */
	/*---- quote -----*/
	.wrap-about {
		padding: 0 0 20px 0;
		min-height: 400px !important;
	}
	.wrap-about .w-content {
		left: 0;
		right: 0;
		width: 100%;
		top: 0;
		padding: 80px 25px;
		transform: none;
	}

	/*------- testimonial -------*/
	#testimonial {
		height: 700px;
	}
	.skillst {
		margin-top: 50px;
	}

	/* 종찬 */
	.hero-about {
		width: 280px;
		margin-left: 30px;
		top: 30%;
	}
	.carousel {
		width: auto;
		height: 100%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
		.thumbnail a>img, .thumbnail>img {
		max-width: none;
	}
	#mainban h1 {
		font-size: 20px;
	}
	p.sol {
		font-size: 20px;
	}
	button .sol {
		font-size: 20px;
	}
	p.fine {
		font-size: 20px;
	}
	button .fine {
		font-size: 20px;
	}
	.section-title-area-4 p {
		width: 80%;
		text-align: justify;
		/* 	padding-left:5%; */
	}
}


@media screen and (min-width: 721px) and (max-width:725px) {
.description h1:after {
		bottom:140px;
	}
}


@media screen and (max-width: 768px) {
	/*------ header -----*/
	.for-sticky {
		padding: 0;
	}
	.logo-nav {
		margin-left: 0;
	}
	.menu-button {
		margin-right: 15px;
	}
	.content-right1 {
		padding-top: 0;
	}
	.ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button
		{
		left: -65px;
	}
	.ma-infinitypush-wrapper {
		width: 200px;
	}
	.ma-infinitypush-wrapper	ul>li {
		width: 200px;
	}

	/*------- home ------*/
	#home p {
		width: 100%;
	}

	/*----- portfolio -----*/
	.portfolio-image>li {
		width: 50%;
	}

	/*---- blog -----*/
	.grid-item {
		width: 50%;
	}

	/*------- about -------*/
	.bg-about {
		min-height: 520px;
	}
	.wrap-about {
		min-height: 520px;
		padding-bottom: 10%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.wrap-about	.head-quote {
		padding-top: 10%;
	}
	
	.text-grey {
		margin-bottom: 45px;
	}
	.skillst {
		margin-top: 50px;
	}
	/*------ footer -----*/
	footer p {
		text-align: center;
	}
	footer ul.social {
		margin-left: -40px;
		text-align: center;
	}
	footer ul.social li {
		padding: 0px 10px 0px 10px;
	}
	.section-title-area-4 p {
		width: 90%;
		text-align: justify;
		/* padding-left:5%; */
	}
}


@media screen and (max-width: 991px) {
	/* 
	.content-right1 {
		margin-top: 220px;
	} */
	.description h1:after {
		margin-left:-1rem;
	}
	
}

@media screen and (min-width: 992px) {
	.content-right {
		padding-right:0;
	}
	.content-right1 {
		padding-left:0;
		padding-right:53px;
	}
	.portfolio-image {
		display:flex;
	}
	
	.title-small {
	position:fixed;
	}
	
	.content-right .filter-wrapper {
		position:fixed;
	}
	
}

@media screen and (min-width:992px) and (max-width:1399px) {
	.description h1:after {
		margin-left:-1.5rem;
	}
	
}


@media screen and (min-width:992px) and (max-width:1545px) {
	.igrid .iheader .subc {
		height: 43px;
	}
}

@media screen and (max-width: 1199px) {
	.content-right {
		padding-top: 110px;
	}
	.content-right1 {
		padding-top: 80px;
	}
	.menusuit {
		height: 6%;
		position: absolute;
		background: white;
		width: 100%;
		display: flex;
		z-index: 1;
		
	}
	.menusuit .menubutton {
		top: 17%;
		width: 0%;
		text-align: left;
		margin-left: 12px;
		font-size: 24px;
		color: rgb(0, 38, 143);
	}
	.sidenav .closebtn {
		font-size: 24px;
		top: 62%;
	}
	#mainban {
		margin-left: 0;
	}

	/* 	.portfolio-image {
	padding-right:60px;
} */
}

@media screen and (max-width: 1024px) {
	.section-title-area-4 p {
		width: 90%;
		text-align: justify;
		/* 		padding-left:5%; */
	}
}

@media screen and (min-width: 1200px) {
	.content-right {
		padding-top:166px;
	}
	/* .content-right1 {
		padding-right: 58px;
	} */
	.section-title-area-4 p {
		width: 100%;
	}
}

/* @media screen and (max-width: 1024px) {
	.section-title-area-4 p {
		width: 100%;
		text-align: justify;
	}
}
 */
@media screen and (min-width: 1321px) {
	.col-xs-offset-2 {
		margin-left: 0;
	}
	.team-member {
		margin-bottom: 30px;
	}
	/* 	.content-right1 {
		padding-right: 58px;
		padding-bottom:30px;
	} */
}

@media screen and (max-width: 1320px) {
}

@media screen and (min-width: 1321px) {
	#mainban {
		margin-left: 60px;
	}
}