@media screen and (max-width: 476px) {
	.description h1:after {
		bottom: 120px;
	}
}

@media screen and (min-width: 660px) {
	.portfolio-logo h1 {
		margin: 0;
		float: left;
	}
}

@media screen and (max-width: 479px) {
	
	.content-right .filter-wrapper li>a {
		font-size: 9.6px;
	}
	.content-right ul>li {
		
	}
	.content-right .filter-wrapper {
		
	}
	
	.portfolio-logo h1 a {
	margin:0 auto 30px auto;
	}
}

@media screen and (max-width: 480px) {
	/*----- layout ----*/
	.grey-bg, .white-bg {
		padding: 40px 0;
	}

	/* about */
	.wrap-about .hhh3:before {
		height: 9px;
		width: 38px;
		top: 13%;
		margin-left: 0px;
	}
	.wrap-about .hh3:before {
		height: 9px;
		width: 38px;
		top: 13%;
		margin-left: 0px;
	}
	.content-detail {
		margin-top: 30px;
	}
	.wrap-about .hhh3 {
		font-size: 47px;
	}
	.wrap-about .hh3 {
		font-size: 47px;
	}
	.owl-theme .owl-controls {
		left: 44.5%;
	}
	.wrap-about .head-about {
		font-size: 18px;
		line-height: 40px;
	}
	.wrap-about .head-about2 {
		font-size: 18px;
		line-height: 50px;
		padding-top: 22px;
	}
	.wrap-about a {
		font-size: 18px;
	}
	.wrap-about .button {
		width: 160px;
		padding: 4px;
	}
	.wrap-about h3:before {
		height: 9px;
		width: 38px;
		top: 13%;
		margin-left: 0px;
	}

	/*---- hero -----*/
	.hero-content {
		width: 280px;
		padding: 25px;
		/* 	margin-left: 3%; */
		height: 190px;
	}
	#mainban .typed {
		padding: 0 0 30px 0;
		border: 0;
	}
	.hero-content img {
		padding: 9px 25px;
	}
	/* 	.portfolio-image .igrid img {
		width: 100%;
		height: 100%;
	} */
	.portfolio-image .igrid .decription-wrap {
		width: 100%;
		height: 100%;
	}
	.portfolio-image .igrid {
		
	}
	.portfolio-image {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.menu-wrap {
		width: 220px;
	}
	.mouse-icon {
		bottom: 5px;
	}

	/*---- portfolio -----*/
	.portfolio-image .igrid {
		width: 100%;
		margin-bottom: 20px;
	}

	/*---- blog -----*/
	.grid-item {
		width: 100% !important;
		padding: 0;
	}

	/* .portfolio-image .igrid img {
		width:96%;
		
	} */
	/*---- quote -----*/
	.wrap-about {
		padding: 0 0 20px 0;
		min-height: 400px !important;
	}
	.wrap-about .w-content {
		left: 0;
		right: 0;
		width: 100%;
		top: 0;
		padding: 80px 25px;
		transform: none;
	}

	/*------- testimonial -------*/
	#testimonial {
		height: 700px;
	}
	.skillst {
		margin-top: 50px;
	}

	/* 종찬 */
	.hero-about {
		width: 280px;
		margin-left: 30px;
		top: 30%;
	}
	.carousel {
		width: auto;
		height: 100%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
		.thumbnail a>img, .thumbnail>img {
		max-width: none;
	}
	#mainban h1 {
		font-size: 20px;
	}
	p.sol {
		font-size: 20px;
	}
	button .sol {
		font-size: 20px;
	}
	p.fine {
		font-size: 20px;
	}
	button .fine {
		font-size: 20px;
	}
	.section-title-area-4 p {
		width: 80%;
		text-align: justify;
		/* 	padding-left:5%; */
	}
}

@media screen and (min-width: 481px) {
	.fixedmenu {
		width: 32vw;
		height: 100%
	}
}


@media screen and (min-width: 481px) and (max-width:991px) {
	
.portfolio-logo {
			bottom: 42%;
		}
		
		.filter-wrapper{
			display:flex;
		}
		
		
}





@media screen and (max-width: 660px) {
	

	.portfolio-logo {
	bottom:55%;
	}
	
	
}
	
	
@media screen and (min-width: 660px) and (max-width:991px) {
	

	.content-right .filter-wrapper {
			display: flex;
		}

}
	@media screen and (min-width: 721px) and (max-width:725px) {
		.description h1:after {
			bottom: 140px;
		}
	}
	
		@media screen and (max-width: 767px) {
	.description h1 {
		font-size:39px;
	}
		}
	@media screen and (max-width: 768px) {
		/*------ header -----*/
		.content-right ul .fflex {
			padding-left: 0;
			/* margin-bottom: 20px; */
		}
		.for-sticky {
			padding: 0;
		}
		.logo-nav {
			margin-left: 0;
		}
		.menu-button {
			margin-right: 15px;
		}
		.content-right1 {
			padding-top: 0;
		}
		.ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button
			{
			left: -65px;
		}
		.ma-infinitypush-wrapper {
			width: 200px;
		}
		.ma-infinitypush-wrapper	ul>li {
			width: 200px;
		}

		/*------- home ------*/
		#home p {
			width: 100%;
		}

		/*----- portfolio -----*/
		.portfolio-image>li {
			width: 50%;
		}

		/*---- blog -----*/
		.grid-item {
			width: 50%;
		}

		/*------- about -------*/
		.bg-about {
			min-height: 520px;
		}
		.wrap-about {
			min-height: 520px;
			padding-bottom: 10%;
			padding-left: 30px;
			padding-right: 30px;
		}
		.wrap-about	.head-quote {
			padding-top: 10%;
		}
		.text-grey {
			margin-bottom: 45px;
		}
		.skillst {
			margin-top: 50px;
		}
		/*------ footer -----*/
		footer p {
			text-align: center;
		}
		footer ul.social {
			margin-left: -40px;
			text-align: center;
		}
		footer ul.social li {
			padding: 0px 10px 0px 10px;
		}
		.section-title-area-4 p {
			width: 90%;
			text-align: justify;
			/* padding-left:5%; */
		}
	
	}
	@media screen and (min-width: 992px) {
		.portfolio-logo h1 a {
			background: transparent url(../images/logoP.png) no-repeat 0 0;
			background-size: 200px 78px;
			width: 200px;
			height: 78px;
			position: absolute;
			bottom: 78px;
			right: 40px;
		}
		
		
	}
	@media screen and (max-width: 991px) {
		/* 
	.content-right1 {
		margin-top: 220px;
	} */
		/* .content-right {
			padding-left: 25px;
		} */
		.description h1:after {
			margin-left: -1rem;
		}
		.fixedmenu {
			width: 100%;
		}
		
		.selected {
			border-right-width: 21px;
		}
		.content-right .filter-wrapper {
			padding-top: 0;
			padding-right: 0;
			/* 		display: flex;
 */
			margin-bottom: 10px;
		}
		.content-right ul>li {
			margin-bottom: 20px;
			
		}
		.content-right .filter-wrapper li>a {
			font-size: 16.6px;
		}
	}
	@media screen and (min-width: 992px) {
		.content-right {
			padding-right: 0;
		}
		.content-right1 {
			padding-left: 0;
			/* 	padding-right:53px; */
		}
		.portfolio-image {
			/* display: flex; */
			
		}
		.title-small {
			position: fixed;
		}
		.fixedmenu {
			position: fixed;
		}
		.content-right .filter-wrapper {
			text-align: right;
		}
	}
	@media screen and (min-width:992px) and (max-width:1399px) {
		.description h1:after {
			margin-left: -1.5rem;
		}
	}
	@media screen and (min-width:992px) and (max-width:1545px) {
		.igrid .iheader .subc {
			height: 43px;
		}
	}
	@media screen and (max-width: 1199px) {
		.content-right {
			padding-top: 110px;
		}
		.content-right1 {
			padding-top: 80px;
		}
	.menusuit {
		height: 8%;
		position: absolute;
		background: white;
		width: 100%;
		display: flex;
		z-index: 1;
	}
	.menusuit .menubutton {
		top: 20%;
		width: 0%;
		text-align: left;
		margin-left: 12px;
		font-size: 24px;
		color: rgb(0, 38, 143);
}
		/* .sidenav .closebtn {
			font-size: 24px;
			top: 62%;
		} */
		#mainban {
			margin-left: 0;
		}
		}

		/* 	.portfolio-image {
	padding-right:60px;
} */
	}
	@media screen and (max-width: 1024px) {
		.section-title-area-4 p {
			width: 90%;
			text-align: justify;
			/* 		padding-left:5%; */
		}
	}
	@media screen and (min-width: 1200px) {
		.content-right {
			/* padding-top:166px; */
			
		}
		/* .content-right1 {
		padding-right: 58px;
	} */
		.section-title-area-4 p {
			width: 100%;
		}
	}
	@media screen and (min-width: 1240px) {
		.portfolio-logo h1 a {
			background-size: 253px 98px;
			width: 253px;
			height: 98px;
			bottom: 22px;
		}
	}

	/* @media screen and (max-width: 1024px) {
	.section-title-area-4 p {
		width: 100%;
		text-align: justify;
	}
}
 */
 
 
 
 
 
   	@media screen and (max-width:374px) {
  	
  	 	.portfolio-image .igrid .desc {
		top:65%;
		font-size:13px;
		}
		
		.portfolio-image .igrid .desc2 {
		top:78.6%;
		font-size:10px;
		}
		
		
		.portfolio-image .igrid .descT {
		top:76%;
		}
		
		.portfolio-image .igrid .descT2 {
		top:85.6%;
		font-size:12px;
		}
		
			.portfolio-image .igrid .descF {
		top:65%;
		font-size:13px;
		}
		
		.portfolio-image .igrid .descF2 {
		top:78.6%;
		font-size:10px;
		}
		
  	}
   	@media screen and (min-width:375px) and (max-width:424px) {
  	
  	 	.portfolio-image .igrid .desc {
		top:73%;
		font-size:14px;
		}
		
		.portfolio-image .igrid .desc2 {
		top:84.6%;
		font-size:10px;
		}
		
		.portfolio-image .igrid .descT {
		top:77%;
		font-size:20px;
		}
		
		.portfolio-image .igrid .descT2 {
		top:86.6%;
		font-size:12px;
		}
		
			.portfolio-image .igrid .descF {
		top:73%;
		font-size:14px;
		}
		
		.portfolio-image .igrid .descF2 {
		top:84.6%;
		font-size:10px;
		}
  	}
 
   	@media screen and (min-width:425px) and (max-width:480px) {
  	
  	 	.portfolio-image .igrid .desc {
		top:69%;
		font-size:15px;
		}
		
		.portfolio-image .igrid .desc2 {
		top:82.6%;
		font-size:10px;
		}
		
		.portfolio-image .igrid .descT {
		top:80%;
		font-size:18px;
		}
		
		.portfolio-image .igrid .descT2 {
		top:89.6%;
		font-size:12px;
		}
		
		.portfolio-image .igrid .descF {
		top:69%;
		font-size:15px;
		}
		
		.portfolio-image .igrid .descF2 {
		top:82.6%;
		font-size:10px;
		}
  	}
 
  	@media screen and (min-width:481px) and (max-width:599px) {
  	
  	 	.portfolio-image .igrid .desc {
		top:73%;
		font-size:15px;
		}
		
		.portfolio-image .igrid .desc2 {
		top:84.6%;
		font-size:10px;
		}
		
		.portfolio-image .igrid .descT {
		top:55%;
		font-size:12px;
		}
		
		.portfolio-image .igrid .descT2 {
		top:69.6%;
		font-size:10px;
		}
		
			.portfolio-image .igrid .descF {
		top:73%;
		font-size:15px;
		}
		
		.portfolio-image .igrid .descF2 {
		top:84.6%;
		font-size:10px;
		}
  	}
   	@media screen and (min-width:600px) and (max-width:767px) {
   	
   	.portfolio-image .igrid .desc {
		top:75%;
		font-size:19px;
		}
		
		.portfolio-image .igrid .desc2 {
		top:87.6%;
		font-size:12px;
		}
   	
   	.portfolio-image .igrid .descT {
		top:63%;
		font-size:19px;
		}
		
		.portfolio-image .igrid .descT2 {
		top:77.6%;
		font-size:11px;
		}
		
		 	.portfolio-image .igrid .descF {
		top:75%;
		font-size:19px;
		}
		
		.portfolio-image .igrid .descF2 {
		top:87.6%;
		font-size:12px;
		}
   	
} 
  
 	@media screen and (min-width:768px) and (max-width:1199px) {
 	
 		.portfolio-image .igrid .desc {
		top:78%;
		}
		
		.portfolio-image .igrid .desc2 {
		top:88.6%;
		}
 	
 	.portfolio-image .igrid .descT {
		top:76%;
		}
		
		.portfolio-image .igrid .descT2 {
		top:85.6%;
		}
		
			.portfolio-image .igrid .descF {
		top:78%;
		}
		
		.portfolio-image .igrid .descF2 {
		top:88.6%;
		}
 	}
 
 	@media screen and (min-width:1200px) and (max-width:1400px) {
		.portfolio-image .igrid .desc {
		top:81%;
		}
		
		.portfolio-image .igrid .desc2 {
		top:90.6%;
		}
		
		.portfolio-image .igrid .descT {
		top:79%;
		}
		
		.portfolio-image .igrid .descT2 {
		top:87.6%;
		}
		
			.portfolio-image .igrid .descF {
		top:81%;
		}
		
		.portfolio-image .igrid .descF2 {
		top:90.6%;
		}
	}
 
	@media screen and (min-width: 1321px) {
		.col-xs-offset-2 {
			margin-left: 0;
		}
		.team-member {
			margin-bottom: 30px;
		}
		/* 	.content-right1 {
		padding-right: 58px;
		padding-bottom:30px;
	} */
	}
	@media screen and (max-width: 1320px) {
	}
	@media screen and (min-width: 1321px) {
		#mainban {
			margin-left: 60px;
		}
	}
}