@import url('fonts/stylesheet.css');

/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td, article, aside, canvas, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
} */
body {
	line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

nav ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}

del {
	text-decoration: line-through
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

input, select {
	vertical-align: middle
}

li {
	list-style: none
}

#wrap {
	width: 100%;
	margin: 0 auto;
}

#container {
	width: 100%
}

.content-wrap {
	-webkit-overflow-scrolling: touch;
	width: 100%;
	/* background-color: #111111; */
	height: 100%;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	/* background: #ffffff; */
	font-family: 'Nunito Sans', '210 OmniGothic', sans-serif;
	font-style: normal;
	font-weight: 300;
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
	font-weight: 100;
}

h2, h3, h5 {
	letter-spacing: 4px;
	text-transform: uppercase;
}

h1 {
	font-size: 2.4rem;
	line-height: 3rem;
	letter-spacing: 4px;
	padding-bottom: 6px;
}

h2 {
	color: #666;
	font-size: 1.2rem;
	padding-bottom: 10px;
}

h3 {
	font-size: 1rem;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

h4 {
	color: #000000;
	font-size: 0.9rem;
	line-height: 28px;
	letter-spacing: 1px;
}

p {
	font-size: 13px;
	font-weight: 300;
	/* line-height: 25px; */
	word-spacing: 1px;
	font-weight: 600;
	color: rgba(33, 31, 31, 0.75)
}

a {
	outline: none;
	text-decoration: none !important;
}

canvas {
	display: block;
	vertical-align: bottom;
	position: absolute;
	z-index: 0;
}

/* �쉪吏�李쏙옙沅쀭걚�쉨吏��쉪吏��쉨�샄�쉨夷덊쉪吏ъ갹占쎄텢�씥�쉯占쎌뫂爰쒌긿沅곌콠�꽓沅쀭샄 CSS */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 3; /* Stay on top */
	top: 0;
	left: 0;
	background-color: transparent; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 0px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #cacaca;
	display: block;
	line-height: 39px;
	letter-spacing: 2.5px;
	transition: 0.3s;
}

#particles-js h1 {
	line-height: 40px;
	letter-spacing: 0.6px;
}

#particles-js .typed {
	font-weight: 400;
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 1.5px;
	margin: 0 auto;
	opacity: 0.6;
	padding-left: 30px;
	/* border-left: 2px solid black; */
	float: right;
	padding-right: 35px;
}

#particles-js2 {
	height: 100%;
	width: 100%;
	position: fixed;
	background:linear-gradient(to right, rgba(188, 195, 175, 0.69),    rgba(30, 49, 47, 0.9));
	 background-size : cover;
	background-repeat: no-repeat;
	background-size: cover
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
	/* 	color: #43beec; */
	
}

.sidenav a:after {
	content: '';
	display: block;
	width: 17px;
	height: 2px;
	background: rgb(67, 190, 236);
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(255, 0, 0, 0),
		rgba(67, 190, 236, 1)); /*Standard*/
	-webkit-transition: width .3s ease;
	transition: width .3s ease;
	position: relative;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: -1;
}

.sidenav .closebtn:after {
	display: none;
}

.sidenav a:hover:after {
	left: 0;
	margin-left: 0px;
	width: 80%;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 50%;
	right: 0px;
	font-size: 30px;
	margin-right: 15px;
	color: #cacaca;
}

#content-wrap {
	transition: margin-left .5s;
	/* margin-left: 3%; */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	margin-left: 3%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.menusuit {
	height: 100%;
	position: fixed;
	background: transparent;
	width: 60px;
	transition: 0.5s;
	z-index: 100;
}

.menusuit .menubutton {
	top: 51.5%;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: white;
	z-index: 2;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
}

#nodap {
	/* background-color:rgb(17, 17, 17); */
	transition: margin-left .5s;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	margin: -40px 0 0 -100px;
	opacity: 0.7;
}

#status img {
	text-align: center;
	margin-top: -80px;
}
