@import url('fonts/stylesheet.css');
/* �쉪吏�李쏙옙沅쀭걚�쉨吏��쉪吏��쉨�샄�쉨夷덊쉪吏ъ갹占쎄텢�씥�쉯占쎌뫂爰쒌긿沅곌콠�꽓沅쀭샄 CSS */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 3; /* Stay on top */
	top: 0;
	left: 0;
	background-color: transparent; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	
	/* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 0px 8px 32px;
	text-decoration: none;
	font-size: 16px;
	color: #cacaca;
	display: block;
	line-height: 39px;
	letter-spacing: 2.5px;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
	/* 	color: #43beec; */
	
}

.sidenav a:after {
	content: '';
	display: block;
	width: 17px;
	height: 2px;
	background: rgb(67, 190, 236);
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right, rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right, rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 1)); /*Fx 3.6-15*/
	background: linear-gradient(to right, rgba(255, 0, 0, 0),
		rgba(67, 190, 236, 1)); /*Standard*/
	-webkit-transition: width .3s ease;
	transition: width .3s ease;
	position: relative;
	top: 50%;
	left: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: -1;
}

.sidenav .closebtn:after {
	display: none;
}

.sidenav a:hover:after {
	left: 0;
	margin-left: 0px;
	width: 80%;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 50%;
	right: 0px;
	font-size: 30px;
	margin-left: 80px;
	color: #cacaca;
}

#nodap {
	/* background-color:rgb(17, 17, 17); */
	transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.menusuit {
	height: 100%;
	position: fixed;
	background: rgba(34, 33, 31, 0.67);
	width: 60px;
	
	z-index: 100;
}

.menusuit .menubutton {
	top: 51.5%;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: white;
	z-index: 2;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 999999;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	margin: -40px 0 0 -100px;
	opacity: 0.7;
}

#status img {
	text-align: center;
	margin-top: -80px;
}

/* hardware accelatator class */
.trans3d {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform-style: preserve-3d;
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform-style: preserve-3d;
	-ms-transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 0);

	/*-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility:hidden;
		backface-visibility:hidden;*/
}

#contentContainer {
	position: absolute;
	margin-left: -500px;
	margin-top: -500px;
	left: 50%;
	top: 50%;
	width: 1000px;
	height: 1000px;
}

#carouselContainer {
	position: absolute;
	margin-left: -500px;
	margin-top: -500px;
	left: 50%;
	top: 50%;
	width: 1000px;
	height: 1000px;
}

.carouselItem {
	width: 320px;
	height: 130px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -160px;
	margin-top: -90px;
	visibility: hidden;
}

.carouselItemInner {
	width: 320px;
	height: 130px;
	position: absolute;
	background-color: rgba(255, 255, 255, .75);
	border: 10px solid rgba(255, 255, 255, .5);
	color: aqua;
	font-size: 72px;
	left: 50%;
	top: 50%;
	margin-left: -160px;
	margin-top: -90px;
	text-align: center;
	padding-top: 50px;
}

.carousel-inner.onebyone-carosel {
	margin: auto;
	width: 90%;
}

.onebyone-carosel .active.left {
	left: -33.33%;
}

.onebyone-carosel .active.right {
	left: 33.33%;
}

.onebyone-carosel .next {
	left: 33.33%;
}

.onebyone-carosel .prev {
	left: -33.33%;
}

.carousel-control.left {
	right: 8%;
	left: auto;
	background: transparent;
	top: -50px;
	color: rgba(51, 42, 42, 0.8);
}

.carousel-control.right {
	right: 6.5%;
	left: auto;
	background: transparent;
	top: -50px;
	color: rgba(51, 42, 42, 0.8);
}

.carousel-control {
	width: 1%;
}

.well {
	padding: 90px 0;
	background: transparent;
	border: none;
	/* height: 100%; */
}

.well .carousel-header {
	padding: 30px 0px 15px;
}

.carousel-header h2 {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.well .your-class {
	
}

.well .your-class .imgslot {
	padding:20px 15px 10px 15px;
	outline:none;
}

.well .your-class .imgslot img {
	width:100%;
}

.well .info-area {
	
height: 100%;
}

.well .info-area h2{
	
}

.well .info-area .info-box {
	
height: 100%;
}

.well .info-area .info-box img{
	
}

.well .info-area .info-box .text-area {

}

.well .info-area .info-box .text-area h2 {
	
}

.well .info-area .info-box .text-area p {
	
}

/* .well .info-area .info-box .text-area span {
	
} */

.well .info-area .info-box .text-area button {
	
}








.slick-prev {
	background: transparent;
	border: none;
	position:absolute;
	top: -11%;
	left: 93%;
}

.slick-next {
	background: transparent;
	border: none;
	position:absolute;
	top: -11%;
	left: 94.5%;
}

.carousel {
	position: absolute;
	width: 100%;
	padding-top: 20px;
}



#particles-js2 {
	height: 100%;
	width: 280px;
	min-width: 280px;
	min-height: 100%;
	display: block;
	transition: margin-left .5s;
	position: fixed;
	
	background: linear-gradient(to right, rgba(188, 195, 175, 0.69),
		rgba(30, 49, 47, 0.9));
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
}
